/* CSS declarations go here */
h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

#browser-view {
  max-width: 50%;
}

#browser-view img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  border: 1px solid #e5e5e5;
}

#browser-view img.selected {
  display: block;
}

.view-tab {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  padding: 0 15px;
  height: 0;
  line-height: 30px;
  border-bottom: 30px solid #CCCCCC;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  cursor: pointer;
  border-radius: 2px;
}

.view-tab.selected {
  border-bottom: 30px solid #e5e5e5;
}

#browser-view p {
  border: 5px solid #e5e5e5;
  margin: 0;
  padding: 0 10px;
  font-weight: 300;
}

.container .slider {
  -webkit-flex: 1;
  flex: 1;
  max-width: 10px;
}

#phantomjs-code {
  -webkit-flex: 2;
  flex: 2;
  position: relative;
}


#code-mirror-container {
  width: 100%;
  position: absolute;
  overflow: scroll;
  border: 1px solid black;
  height: calc(100% - 115px);
}

#code-mirror-container .CodeMirror {
  width: 100%;
  height: auto;
}

#phantomjs-code button {
  padding: 11px 25px;
  position: absolute;
  bottom: 0;
  font-size: 90%;
  border: none;
  background-color: #bbbbbb;
  border-radius: 5px;
  font-weight: 300;
}

#phantomjs-code button:hover {
  background-color: #939393;
}

#console-log {
  width: 100%;
}

.icon {
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
  margin-right: 5px;
  font-weight: 300;
}

.phantom {
  background-color: #00aff0;
}

.site {
  background-color: #d27f00;
}

.site-error {
  background-color: #ff0000;
}
