/* CSS declarations go here */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: -webkit-flex;
  display: flex;
}

#browser-view {
  max-width: 50%;
}

#browser-view img {
  max-width: 100%;
  border: 1px solid black;
}

#phantomjs-code {
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

#phantomjs-code textarea {
  width: 100%;
  height: calc(100% - 35px);
  position: absolute;
  overflow: scroll;
  border: 1px solid black;
}

#phantomjs-code button {
  height: 30px;
  position: absolute;
  bottom: 0;
}
